<!DOCTYPE html>
<html>
   <style>
    body{background-color: blanchedalmond;}
   </style>
</html>
<body>
    <h1 style="text-align: center; background: red;">Sakhi Sarthi</h1>
    <br>
    <h2 style="text-align: center; background: gold;">Related Images</h2>
    <marquee>
    <img src="{{ url_for('static', filename='images/1.webp') }}" alt="1" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/2.webp') }}" alt="2" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/3.webp') }}" alt="3" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/4.webp') }}" alt="4" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/5.webp') }}" alt="5" width="200px" height="200px">
    <br>
    <br>
    <br>
    <img src="{{ url_for('static', filename='images/6.webp') }}" alt="6" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/7.webp') }}" alt="7" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/8.webp') }}" alt="8" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/9.webp') }}" alt="9" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/10.webp') }}" alt="10" width="200px" height="200px"></marquee>
</body>