<!DOCTYPE html>
<html>
   <style>
    body{background-color: blanchedalmond;}
   </style>
</html>
<body>
    <h1 style="text-align: center; background: red;">Sakhi Sarthi</h1>
    <br>
    <h2 style="text-align: center; background: gold;">Related Images</h2>
    <marquee>
    <img src="{{ url_for('static', filename='images/11.webp') }}" alt="11" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/12.webp') }}" alt="12" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/13.webp') }}" alt="13" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/14.webp') }}" alt="14" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/15.webp') }}" alt="15" width="200px" height="200px">
    <br>
    <br>
    <br>
    <img src="{{ url_for('static', filename='images/16.webp') }}" alt="16" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/17.webp') }}" alt="17" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/18.webp') }}" alt="18" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/19.webp') }}" alt="19" width="200px" height="200px">
    <img src="{{ url_for('static', filename='images/20.webp') }}" alt="20" width="200px" height="200px"></marquee>
</body>